.marker-content {
    overflow: auto;
    max-height: 800px;
    width: '100%';
    transition: all 10s linear 10s;
}

/* .transition {
    opacity: 1;
    transition: all 250ms linear;
  }
  
.transition-hidden {
    opacity: 0;
    transition: all 250ms linear;
} */