.journeys {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 40px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:focus {
    color: black;
    text-decoration: none;
}